.main{
    width: 100%;
    background-color: #fbf8f1;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-left: 0%;
}

.main h1{
    color: #147F42;
    font-family: 'Times New Roman';
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: auto;
}

.btnn {
    background-color: #D3A571;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 0  0 10px rgb(#D3A571);
}

.btn {
    background-color: #147F42;
    
}